
.customTooltip {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  font-size: 12px;
}

:global(.recharts-tooltip-wrapper) {
  transform: none !important;
  transition: none !important;
  animation: none !important;
}

:global(.recharts-wrapper *:focus) {
  outline: none !important;
}


.customTooltip .tooltipLabel {
  margin-bottom: 6px; 
}

.customTooltip .tooltipValue {
  font-weight: bold;
}