body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: auto; 
  min-width: 1024px;
  min-height: 768px;
  max-width: 1440px;
  background: #f2f3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  /* Typo */
  --color-title: #111111;
  --color-text: #707070;

  /* Separators */
  --color-separator: #E7E7E7;

  /* Blues */
  --color-blue: #0b23f4;
  --color-blue-light: #b6bdfc;
  --color-blue-bg: #f2f3ff;

  /* Reds */
  --color-red-light: #fcc1b6;
  --color-red: #f4320b;
}
